@import "tailwindcss/preflight";

/* Add custom base styles here... */

@import "tailwindcss/components";

/* Add custom components here... */

@import "tailwindcss/utilities";

/* Add custom utilities here... */
